<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <div class="container container-body">
        @RenderPage("_Header.cshtml")

        @RenderBody()
    </div>
</body>
</html>