<style>
    .footer{
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: gray;
    }
</style>

<div class="footer">
    <h4>Copyright &copy;Benchmark Bible Verse Application</h4>
    <h5>Developed by Cameron Deao</h5>
</div>